<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.tesseract.jio.covid19.ar">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <application>

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />

        <activity
            android:name="android.tesseract.jio.covid19.ar.ARActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>
</manifest>